
/* 클래스 선택자를 쓸 때는 .클래스값으로 써야한다 */
/* .highlight {
    border: solid;
} */
/* 아이디 선택자를 쓸 때는 #아이디값으로 써야한다 .*/
body{
    font-size: 3vw;
}

#top{ /* top id 의 css */ 
    display: grid;
    grid-template-columns: 4fr 7fr 4fr;
    height: 10vw;
    min-height: 10vw;
    border-bottom: solid gray 0.1px;
    margin-bottom: 3vw;
    text-align: center;
    padding-top: 3vw;
}
#top_img{ /* top_img id의 css*/
    width: 30vw;
    height: 10vw;
    margin: auto;
}
#top img{ /* top id 의 img태그 css */
    width: 100%;
     height: 100%;
     object-fit:cover;
 }
#top input{ /* top id 안에 input태그의 css */
    height: 60%;
    width: 95%;

    margin: auto;
    text-align: center;
    background-color: rgb(250,250,250);
    
    border: solid gray 1px ;
    border-radius: 3px;

    font-size: 3vw;
    font-weight: 100;

}


i{ /* 모든 i태그 css */
    color: gray;
}

#top i{ /* top id 안에 i 태그의 관한 css */
    font-size: 4vw;
    margin-top: 3vw;
}

#profile{ /*id profile  css */
    display: grid;
    grid-template-columns: 1fr 3.5fr;
}
#profile_pic{ /*id profile_pic  css */
    height: 15vw;
    width: 15vw;
} 
.circle_pic{ /* class cricle_pic css*/
    border : solid white 1px;
    border-radius: 50% ;  
    width: 100%;
    height: 100%;
    object-fit: cover;  
}

#profile_info{ /* id profile_info css */
    display: grid;
    grid-template-rows: 1fr 1fr ;
    
    height: 15vw;
}
#id{ /* id : id  css */
    font-size: 6vw;
    font-weight: 100;
}
button{ /*button css*/
    height: 80%;
    width: 95%;
    
    font-size: 3vw;
    background-color: white;
    border: solid gray 1px;
    border-radius: 3px;
}
#highlight_area{ /* id highlight_area*/
    display: grid;
    grid-template-columns: 12vw 12vw 1fr;
}
.highlight{ /* class highlight */
    text-align: center;
}
.highlight_pic{ /* class highlight_pic */
    height: 10vw;
    width : 10vw;
    margin-left: auto ;
    margin-right: auto;
}
.stat_bar { /* class stat_bar */
    margin-top: 5px;
    margin-bottom: 5px;
    border-top: 1px solid gray;
    border-bottom : 1px solid gray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr    
}
.stat{/* class stat */
    text-align: center;
}
#sub_icons{ /* id sub_icons */ 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    text-align: center;
    font-size: 5vw;

    height: 8vw;
} 

.selected{ /* class selected */
    border-bottom: solid gray 3px;
}

.thumbnail_grid { /* class .thumbnail_grid*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
 .thumbnail{/* class .thumbnail*/
    width: 100%;

} 

